PHONE_NUMBER=+31612345678
ALLOWED_NUMBERS=+31698765432
GITHUB_TOKEN=ghp_...
GITHUB_REPO=yourname/microblog-content
GITHUB_BRANCH=main
ANTHROPIC_API_KEY=sk-ant-...
BOT_URL=https://signal-microblog-bot.fly.dev
SIGNAL_API_URL=http://signal-api:8080
